@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@import url("/public/fonts/b-nazanin/B-NAZANIN.TTF");

@theme {
  --font-primary: "B-NAZANIN";
}

/* @font-face {
  font-family: nazanin;
  font-style: normal;
  src: url("/public/fonts/b-nazanin/B-NAZANIN.TTF");
}  */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@theme {
  --font-roboto: "Roboto", sans-serif; 
} */



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  /* font-family: nazanin; */
  direction: rtl;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* box-sizing: border-box; */
  overflow-x: hidden;
}

.home-page{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


/*slide_second*/

.card-img-top img {
  width: 100% !important;
}


.first-card {
  z-index: 5;
  /* top: 60px; */
}

.second-card {
  z-index: 6;
}

.third-card {
  z-index: 3;
  /* top: 60px; */
}

.fourth-card {
  z-index: 7;
}

.card {
  height: auto;
  /* position: relative; */
  transition: 2s;
  /* background-color: #fbecea; */
  color: #001440;
}

.card:hover {
  transform: translateY(-60px);
  transition: 1s;
  z-index: 1000;
}

@media screen and (max-width: 576px) {
  .slide_second {
    flex-direction: column;
    position: static;
  }

  .first-card {
    position: static;
    z-index: 1;
  }

  .second-card {
    position: static;
    z-index: 1;
  }

  .third-card {
    position: static;
    z-index: 1;
  }

  .fourth-card {
    position: static;
    z-index: 1;
  }
}


/*slide_second*/


/* slide-third */

.motion img {
  width: 100px;
}

.motion_first {
  animation: animation1 15s infinite alternate;
  bottom: 100px;
}

.motion_second {
  animation: animation2 17s infinite alternate;
  bottom: 150px;
}

.motion_third {
  animation: animation3 15s infinite alternate;
  bottom: 350px;
}

.motion_fourth {
  animation: animation4 15s infinite alternate;
  bottom: 200px;
}

.motion_fifth {
  animation: animation5 15s infinite alternate;
  bottom: 10px;
}



@keyframes animation1 {
  0% {
    /* transform: translate(-400px, -270px); */
    transform: translateX(40px);
  }

  /* 25% {
    transform: translate(150px, 20px);
  }

  50% {
    transform: translate(100px, 10px);
  }

  75% {
    transform: translate(-200px, 30px);
  } */

  100% {
    /* transform: translate(-100px, -500px); */
    transform: translateX(-500px);
  }
}

@keyframes animation2 {
  0% {
    /* transform: translate(140px, -170px); */
    transform: translateX(100px);
  }

  /* 50% {
    transform: translate(150px, -500px);
  } */

  100% {
    /* transform: translate(-350px, -100px); */
    transform: translateX(-410px);
  }
}

@keyframes animation3 {
  0% {
    /* transform: translate(-400px, 50px); */
    transform: translateX(20px);
  }

  /* 50% {
    transform: translate(-100px, -550px);
  } */

  100% {
    /* transform: translate(100px, -200px); */
    transform: translateX(-250px);
  }
}

@keyframes animation4 {
  0% {
    /* transform: translate(-200px, -550px); */
    transform: translateX(-470px);
  }

  /* 50% {
    transform: translate(100px, -100px);
  } */

  100% {
    /* transform: translate(120px, -500px); */
    transform: translateX(60px);
  }
}

@keyframes animation5 {
  0% {
    /* transform: translate(-200px, -500px); */
    transform: translateX(-350px);
  }

  /* 50% {
    transform: translate(-500px, 7px);
  } */

  100% {
    /* transform: translate(180px, -400px); */
    transform: translateX(50px);
  }
}

/* slide-third */